/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/:root {
  --bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #FFF1F7;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --border-color: #353430;
  --accent-color: #FF8DCB;
  --nav-color: #ff0070;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
} 
.theme-light .header__rec {
  display: none;
}

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #FFF1F7;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --border-color: #353430;
  --accent-color: #FF8DCB;
  --nav-color: #353430;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: var(--bg-image);
  --main-bg-color: #FFF1F7;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --border-color: #353430;
  --accent-color: #FF8DCB;
  --nav-color: #353430;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
}

.header {
  background-image: var(--bg-image);
}

@media (prefers-color-scheme: light) {
  .header__rec {
    display: none;
  }
  :root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #FFF1F7;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --border-color: #353430;
  --accent-color: #FF8DCB;
  --nav-color: #353430;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
  }
}