:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --border-color: #353430;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --nav-color-hover: rgba(50, 49, 45 / 0.4);
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --border-color: #353430;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --nav-color-hover: rgba(50, 49, 45 / 0.4);
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
  }
  .header__rec {
    display: none;
  }
}
